<!DOCTYPE html>

<%- include('../partials/head') %>

<body class="container pt-5">
  <%- include('../partials/header', {pagina: 'Sobre'}) %>

  <main>
    <div class="h-100 p-5 bg-dark-subtle border rounded-3" >
      <h1>Sobre mim</h1>
      <p>Olá, mundo! Meu nome é Sabrina, sou estudante de Web Development.</p>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>